**/*.Rproj.user
**/*.Rhistory
**/*.RData
**/*.Ruserdata
**/*.RDS
**/*.rds
**/*.Rds

**/vcfcheck*
**/*.pdf

**/meetings_and_notes/*
**/differential_methylation/*
**/dmr/*
**/genome/*
**/imputation/*
**/install/*
**/logs/*
**/mqtl/*
**/paper/*
**/pca/*
**/qced_data/*
**/rawdata/*
**/results/*
**/utilities/dmrff/*
**/utilities/genotyping/*
**/Rmds/*
